.env 
dist
node_modules
*.log
.vscode
coverage/
test/
/output/
input/
processed/
.maloomscan/
outdiff
outlog
pnpm-workspace.yaml
# Note: /output/ means only root-level output dir, not src/output/
package-lock.json
tsconfig.tsbuildinfo
